<section class="aboutme">
  <h1>About Me</h1>
  <p class="aboutme-name">mitsuruog</p>
  <img class="aboutme-avatar" src="{% gravatar_image 75 %}" alt="Gravatar of {{ site.author}} " title="Gravatar of {{ site.author }}" />
  <p>2012年よりHTML5の可能性に魅了されてフロントエンドエンジニアへ転身。</p>
  <p>最新のフロント技術を業務システムの現場に浸透させるために、技術調査・評価、アーキテクチャ設計、現場に合わせたテーラリング、メンバー教育など、業務システムエンジニア目線で活動している。</p>
  <p><a href="http://www.html5biz.org/">html5jエンタープライズ部</a>スタッフを行うかたわら、<a href="https://github.com/enja-oss">enja-oss</a>、<a href="https://github.com/html5j-english">html5j英語部</a>にも所属している。
  2014/08より<a href="http://html5experts.jp/mitsuruog/">HTML5Experts.jp</a>コントリビュータ。</p>
  <div class="aboutme-sns">
    <a href="https://twitter.com/{{ site.twitter_user }}" class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
    </a>
    <a href="https://www.facebook.com/{{ site.facebook_user }}" class="fa-stack fa-lg">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
    </a>
    <a href="https://plus.google.com/u/0/{{ site.googleplus_user }}/posts/" class="fa-stack fa-lg">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>
    </a>
    <a href="https://github.com/{{ site.github_user }}" class="fa-stack fa-lg">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-github-alt fa-stack-1x fa-inverse"></i>
    </a>
    <a href="http://www.slideshare.net/{{ site.slideshare_user }}" class="fa-stack fa-lg">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-slideshare fa-stack-1x fa-inverse"></i>
    </a>
  </div>
</section>
