<section>
  <h1>Popular Posts</h1>
  <ul id="recent_posts">
    <script language="javascript" type="text/javascript" src="http://b.hatena.ne.jp/js/widget.js" charset="utf-8"></script>
    <script language="javascript" type="text/javascript">
    Hatena.BookmarkWidget.url   = "http://blog.mitsuruog.info/";
    Hatena.BookmarkWidget.title = "";
    Hatena.BookmarkWidget.sort  = "count";
    Hatena.BookmarkWidget.width = 0;
    Hatena.BookmarkWidget.num   = 5;
    Hatena.BookmarkWidget.theme = "hatenadiary";
    Hatena.BookmarkWidget.load();
    </script>
  </ul>
</section>