---
layout: default
---

<div class="blog-index">
  {% assign index = true %}
  {% for post in paginator.posts %}
  {% assign content = post.content %}
    <article>
      {% include article.html %}
    </article>
  {% endfor %}
  <div class="pagination">
    {% if paginator.previous_page %}
    <a class="next" href="/posts/{{paginator.previous_page}}">&larr; 新しい記事</a>
    {% endif %}
    <a href="/blog/archives">記事一覧</a>
    {% if paginator.next_page %}
      <a class="prev" href="/posts/{{paginator.next_page}}">過去の記事 &rarr;</a>
    {% endif %}
  </div>
</div>
<aside class="sidebar">
  {% if site.blog_index_asides.size %}
    {% include_array blog_index_asides %}
  {% else %}
    {% include_array default_asides %}
  {% endif %}
</aside>
