.aboutme {
  position: relative;

  .fa-stack {
    display: inline-flex;
    .aboutme-sns {
      position: relative;
    }
  }

  .aboutme-avatar {
    float: left;
    margin-right: 5px;
    border-radius: 50%;
    @include pie-clearfix;
  }
  .aboutme-name {
    margin-bottom: 0;
    padding: 10px 0;
    font-size: 21px;
    line-height: 21px;
  }
}