// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

h1 {
  font-size: 1.8em;
}

h3 {
  margin-left: 0.5em;
}

@media only screen and (min-width: 992px) {
  #body { font-size: 1em; }
  h1 { font-size: 1.5em; line-height: 1.2em; }
}

#content .blog-index {
  article h1 {
    font-size: 1.5em;
  }
  a[rel=full-article] {
    font-family: inherit;
  }
}

#content > div > article {
  border-bottom: solid 1px #f5f5f5;
}

#content div.pagination {
  a {
    &.prev { position: absolute; right: 0; left: inherit; }
    &.next { position: absolute; left: 0; right: inherit; }
  }
}

@media only screen and (min-width: 768px) {
  ul, ol {
    margin-left: 1.3em;
  }
}

blockquote {
  font-size: 1em;
  line-height: 1.5em;
}

p, blockquote, ul, ol { margin-bottom: 1em; }

#blog-archives {
  @media only screen and (min-width: 550px) {
    article {
      padding:{left: 6.15em; bottom: .7em;}
    }
  }
}

article {

  .entry-content {
    h2:before {
      content: "\f12e";
      font-family: FontAwesome;
      margin-right: 7px;
    }
  }

  h3:before {
    content: "\f0a4";
    font-family: FontAwesome;
    margin-right: 7px;
  }

  > footer {
    padding-bottom: 1.5em;
  }

}