.outer
  max-width: none

#profile-anchor, #profile
  img
    border-radius: 50%

#recent-post li .item-inner a, #recent-post li .item-inner .item-category
  text-transform: none

#main
  @media mq-normal
    column(5)
  @media mq-tablet
    if sidebar
      column(main-column-tablet)
    else
      width: 100%

.article-entry
  blockquote
    font-size: 1em

.article-entry
  h2
    &:before
      content: "\f12e";
      font-family: FontAwesome;
      margin-right: 7px;
  h3
    &:before
      content: "\f0a4";
      font-family: FontAwesome;
      margin-right: 7px;
